.allura-regular {
    font-family: "Allura", cursive;
    font-weight: 800;
    font-style: normal;
    color: #EEE8AA; /* Color base de la letra */
    
    text-shadow: 
        1px 1px 2px black, /* Contorno negro fino */
        2px 2px 4px rgba(255, 255, 255, 0.8), /* Brillo blanco */
        0px 0px 10px rgba(200, 200, 200, 0.6), /* Luz plateada */
        0px 0px 20px rgba(255, 255, 255, 0.5); /* Efecto de resplandor */
}
.allura-regular-gold {
    font-family: "Allura", cursive;
    font-weight: 900;
    font-style: normal;
    color: #EEE8AA; /* Color base de la letra */
    /*-webkit-text-stroke: 1px black; /* Contorno negro */ 
    align-items: center; /* Asegura que el contenido interno esté centrado */
    justify-content: center; /* Opcional: centra verticalmente si el contenedor tiene altura suficiente */
    width: 100%; /* Asegura */
   /* Opcional: centra verticalmente si el contenedor tiene altura suficiente */
    text-shadow: 
    1px 1px 2px black, /* Contorno negro fino */
    2px 2px 4px rgba(255, 255, 255, 0.8), /* Brillo blanco */
    0px 0px 10px rgba(200, 200, 200, 0.6), /* Luz plateada */
    0px 0px 20px rgba(255, 255, 255, 0.5); /* Efecto de resplandor */
}
.allura-regular-white {
    font-family: "Allura", cursive;
    font-weight: 800;
    font-style: normal;
    color: #ffffff; /* Color base de la letra */
    text-shadow: 
        1px 1px 2px black, /* Contorno negro fino */
        2px 2px 4px rgba(255, 255, 255, 0.8), /* Brillo blanco */
        0px 0px 10px rgba(200, 200, 200, 0.6), /* Luz plateada */
        0px 0px 20px rgba(255, 255, 255, 0.5);    
}
.allura-regular-wb {
    font-family: "Allura", cursive;
    font-weight: 900;
    font-style: normal;
    color: #C0C0C0; /* Color base de la letra */
    /*-webkit-text-stroke: 1px black; /* Contorno negro */ 
    align-items: center; /* Asegura que el contenido interno esté centrado */
    justify-content: center; /* Opcional: centra verticalmente si el contenedor tiene altura suficiente */
    width: 100%; /* Asegura */
    -webkit-text-stroke: 7.5px #C0C0C0;
     -webkit-text-stroke: .25px #C0C0C0;
     text-shadow: 
    2px 2px 2px rgba(0, 0, 0, 1); /* Sombra para dar más profundidad */
}
.allura-regular-brown {
    font-family: "Allura", cursive;
    font-weight: 900;
    font-style: normal;
    color: #a28279; /* Color base de la letra */
    /*-webkit-text-stroke: 1px black; /* Contorno negro */ 
    align-items: center; /* Asegura que el contenido interno esté centrado */
    justify-content: center; /* Opcional: centra verticalmente si el contenedor tiene altura suficiente */
    width: 100%; /* Asegura */
    -webkit-text-stroke: 7.5px #C0C0C0;
     -webkit-text-stroke: .25px #C0C0C0;
     text-shadow: 
    2px 2px 2px rgba(0, 0, 0, 1); /* Sombra para dar más profundidad */
}
.allura-regular-blue {
    font-family: "Allura", cursive;
    font-weight: 800;
    font-style: normal;
    color: #F5FFFA; /* Color base de la letra */   
}

.fondow {
    background-color: white; /* Establece el fondo blanco */
    padding: 10px; /* Opcional: Agrega espacio alrededor de la imagen */
    display: flex; /* Asegura que el div se ajuste al contenido */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
}

